<html>
<head>
    <style>
        nav {
            background-color: #6b0000;
            color: white;
            margin-bottom: 15px;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>

        function displayObject(data) {
            var $display = $('#display');

            Object.keys(data).forEach(function(key, index) {
                if (key === 'children') {
                    data[key].forEach(function(child) {
                        $display.append('<div><a href="' + window.location + '/' +  child + '">' + child + '</a></div>');
                    });
                } else {
                    $display.append('<div><span>' + key +'</span> : <span>' + data[key] + '</span>');
                }
            });
        }

        $(document).ready(function() {
            var url = new URL(window.location);
            var endpoint = '/api/' + url.searchParams.get("u");

            // Get root data
            $.ajax({
                'url':  endpoint,
                'data': {},
                'dataType': 'json',
                'success': function(response) {
                    if (response.data !== undefined) {
                        if (response.data.length === 0) {
                            $('#message').html(
                                '<div class="alert alert-danger" role="alert">' +
                                'No records found' +
                                '</div>'
                            );
                        }

                        var firstRecord = response.data[0];

                        var endpointArray = endpoint.split('/');
                        var resource = endpointArray[endpointArray.length - 1];
                        var columns = [];
                        var $list = $('#list');
                        Object.keys(firstRecord).forEach(function(key, index) {
                            var title = key.charAt(0).toUpperCase() + key.slice(1);
                            title = title.replace(/_/g, " ");
                            var column = {
                                'data': key,
                                'title': title
                            };

                            if (key === 'thumb'){
                                column.render = function(data, type, row) {
                                    return '<img width="120" src="'+data+'" />';
                                }
                            }
                            columns.push(column);
                        });

                        var $table = $list.DataTable({
                            "columns": columns,
                            "ajax": endpoint
                        });

                        $list.on('click', 'tr', function () {
                            var data = $table.row(this).data();
                            if (data.link !== undefined) {
                                window.location = window.location = data.link
                            } else {
                                window.location = window.location + '/' + data.id;
                            }
                        })
                    } else {
                        displayObject(response);
                    }
                }
            });
        } );
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Quarte Riposte Fencing Actions</a>
    </nav>

    {% if message %}
        <div class="container-fluid">
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        </div>
    {% endif %}

    <div class="container-fluid tabs">
        <div id="message"></div>
        <table id="list" class="display" width="100%"></table>
        <div id="display"></div>
    </div>
</body>

</html>

