<html>

<style>
    label {
        display: block;
        width: 100%;
        height: 60px;
        line-height: 40px;
        margin: 0;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    :checked + label,
    .calls :checked + label,
    .cards :checked + label,
    .difficulty :checked + label
    {
        background: lightblue;
        border: 2px solid black;
    }

    .calls label {
        background: lightgoldenrodyellow;
    }

    .cards label {
        background: lightcoral;

    }

    input {
        display: block;
    }

    input[type='radio'], input[type='submit'] {
        display: none;
    }

    .submit {
        background: mediumseagreen;
        color: white;
        border: 1px solid gray;
    }

    .vote h6 {
        margin-top: 30px;
        margin-bottom: 5px;
        width: 100%;
    }

    .other {
        margin-bottom: 30px;
    }

    select {
        border-radius: 5px;
        width: 100%;
        height: 50px;
    }

    .graph-bar {
        background: lightblue;
        height: 28px;
        display: block;
        text-align: center;
    }

    video {
        width: 100%;
        max-height: 500px;
    }

    nav {
        background-color: #6b0000;
        color: white;
        margin-bottom: 15px;
    }

    .tabs {
        margin-bottom: 15px;
    }

    a.nav-tab {
        display: block;
        height: 40px;
        line-height: 40px;
        width: 100%;
        color: #ff9999;
        padding: 0;
        margin: 0;
        border: 1px solid #993333;
        background: #996666;
        text-align: center;
    }

    a.nav-tab.active {
        background: #6b0000;
        color: white;
    }

    a.nav-tab:hover {
        text-decoration: none;
        color: white;
    }

    .action-types input[type=checkbox]{
        display:inline;
    }

    @media screen and (min-width: 992px ) {
        label {
            height: 40px;
            line-height:20px;
        }
    }

    .next-action,
    .submit
    {
        cursor: pointer;
        box-shadow: lightgray 4px 4px 4px 4px;
    }

    .next-action:active,
    .submit:active
    {
        box-shadow: none;
    }


    .qrnav.navbar,
    .qrnav.navbar .container-fluid,
    .qrnav.navbar .container-fluid .navbar-brand
    {
        padding-top:0;
        padding-bottom:0;
    }

    .qrnav.navbar {
        padding-top: 2px;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>

    <nav class="qrnav navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/plugins/ajslim/fencingactions/assets/quarte-riposte-white.svg" height="50"/>
                {% if fie is defined %}
                    FIE
                {% endif %}
            </a>

            <div class="nav navbar-nav navbar-right">
                {% if trophy is defined and trophy is not null %}
                    {% if trophy == 'bronze' %}
                        <i class="fa fa-trophy" style="font-size:48px;color:#B77B4B"></i>
                    {% elseif trophy == 'silver' %}
                        <i class="fa fa-trophy" style="font-size:48px;color:#D2CFD5"></i>
                    {% elseif trophy == 'gold' %}
                        <i class="fa fa-trophy" style="font-size:48px;color:#E8DC1D"></i>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </nav>

    {% if infoMessages is defined and warnings is not null %}
        {% for message in infoMessages %}
            <div class="container-fluid">
                <div class="alert alert-info" role="alert">
                    {{ message|raw }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if warnings is defined and warnings is not null %}
        {% for warning in warnings %}
            <div class="container-fluid">
                <div class="alert alert-danger" role="alert">
                    {{ warning|raw }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if messages is defined and messages is not null %}
        {% for message in messages %}
            <div class="container-fluid">
                <div class="alert alert-success" role="alert">
                    {{ message|raw }}
                </div>
            </div>
        {% endfor %}
    {% endif %}


    <div class="container-fluid tabs">
        <div class="row">
            <div class="offset-lg-6 col-lg-6">
                <div class="row">
                    <div class="col">
                        <a class='nav-tab {% if voteForm %}active{% endif %}' href="/?id={{ actionId }}{% if minvotes %}&minvotes={{ minvotes }}{% endif %}">Vote</a>
                    </div>
                    <div class="col">
                        <a class='nav-tab {% if not voteForm %}active{% endif %}' href="/?id={{ actionId }}&results=true{% if minvotes %}&minvotes={{ minvotes }}{% endif %}">Results</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted">{{ boutName }}</h6>
                        <a href="{{ boutVideoUrl }}">YouTube link</a>
                    </div>
                </div>

                <video controls loop autoplay="true" playsinline="" preload="auto" tabindex="-1">
                    <source src="{{ videoUrl }}" type="video/mp4">
                </video>

                <div class="row">
                    <div class="col text-center">
                        <b>{{ leftFencer }}</b>
                    </div>
                    <div class="col text-center">
                        <b>{{ rightFencer }}</b>
                    </div>
                </div>

            </div>

            {% if voteForm == true %}
                <div class="col-lg-6">
                    <div class="vote-form">
                        {{ form_open({ url: '?id=' ~ actionId ~ '&results=true' }) }}
                            <input type="hidden" name="action-id" value="{{ actionId }}" />
                            <input type="hidden" name="submit-vote" value="true" />

                            <h6 class="text-muted">Action For</h6>
                            <div class="row">
                                <div class="col text-center">
                                    <input id="priority-left" name="priority" type="radio" value="1">
                                    <label for="priority-left" class="test">
                                        Left
                                    </label>
                                </div>
                                <div class="col text-center">
                                    <input id="priority-none" name="priority" type="radio" value="0"  checked="checked">
                                    <label for="priority-none" class="test">
                                        - neither -
                                    </label>
                                </div>
                                <div class="col text-center">
                                    <input id="priority-right" name="priority" type="radio" value="2">
                                    <label for="priority-right">
                                        Right
                                    </label>
                                </div>
                            </div>

                            <div class="calls">
                                <h6 class="text-muted">Call</h6>
                                <div class="row">
                                    <div class="col text-center">
                                        <input id="call-attack" name="call" type="radio" value="1">
                                        <label for="call-attack">
                                            Attack
                                        </label>
                                    </div>
                                    <div class="col text-center">
                                        <input id="call-counter-attack" name="call" type="radio" value="2">
                                        <label for="call-counter-attack">
                                            Counter-Attack
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <input id="call-riposte" name="call" type="radio" value="3">
                                        <label for="call-riposte">
                                            Riposte
                                        </label>
                                    </div>
                                    <div class="col text-center">
                                        <input id="call-remise" name="call" type="radio" value="4">
                                        <label for="call-remise">
                                            Remise
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <input id="call-line" name="call" type="radio" value="5">
                                        <label for="call-line">
                                            Line
                                        </label>
                                    </div>
                                    <div class="col text-center">
                                        <input id="call-other" name="call" type="radio" value="6">
                                        <label for="call-other">
                                            Unknown / Other
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <input id="call-simultaneous" name="call" type="radio" value="7">
                                        <label for="call-simultaneous">
                                            Simultaneous / Together
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="cards">
                                <h6 class="text-muted">Card For</h6>
                                <select id="card-for" name="card-for">
                                    <option value="0">No Card</option>
                                    <option value="1">Card For left</option>
                                    <option value="2">Card For Right</option>
                                </select>
                            </div>

                            <hr>

                            <h6 class="text-muted">Difficulty / Certainty</h6>

                            <div class="row">
                                <div class="col text-center">
                                    <input id="difficulty-easy" name="difficulty" type="radio" value="1">
                                    <label for="difficulty-easy" class="test">
                                        Easy
                                    </label>

                                </div>
                                <div class="col text-center">
                                    <input id="difficulty-medium" name="difficulty" type="radio" value="2">
                                    <label for="difficulty-medium">
                                        Medium
                                    </label>
                                </div>
                                <div class="col text-center">
                                    <input id="difficulty-hard" name="difficulty" type="radio" value="3">
                                    <label for="difficulty-hard">
                                        Hard
                                    </label>
                                </div>
                            </div>


                            <h6 class="text-muted">Other</h6>
                            <div class="other">
                                {{ form_select(
                                    'vote-comment',
                                    voteComments
                                ) }}
                            </div>

                            <label class="submit">
                                Submit
                                {{ form_submit() }}
                            </label>
                        {{ form_close() }}
                    </div>
                </div>
            {% else %}

                <div class="col-lg-6">
                    <h6 class="text-muted">Votes so far ({{ votes.total }})</h6>
                    <div class="row">
                        <div class="col">
                            <b>Left</b>
                            {% for call, vote in votes.left %}
                                <div>
                                    {{ call|capitalize }} : {{ vote }}
                                </div>
                                {% if votes.total > 0 %}
                                    <div class="graph-bar" style="width: {{ (vote / votes.total) * 100 }}%;">{{ ((vote / votes.total) * 100)|round }}%</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col">
                            <b>Right</b>
                            {% for call, vote in votes.right %}
                                <div>
                                    {{ call|capitalize }} : {{ vote }}
                                </div>
                                {% if votes.total > 0 %}
                                    <div class="graph-bar" style="width: {{ (vote / votes.total) * 100 }}%;">{{ ((vote / votes.total) * 100)|round }}%</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <b>Neither</b>

                            <div>
                                Simultaneous : {{ votes.simultaneous }}
                            </div>

                            {% if votes.total > 0 %}
                                <div class="graph-bar" style="width: {{ (votes.simultaneous / votes.total) * 100 }}%;">{{ ((votes.simultaneous  / votes.total) * 100)|round }}%</div>
                            {% endif %}

                        </div>
                        <div class="col">
                        </div>
                    </div>

                    <hr>

                    <h6 class="text-muted">Cards</h6>
                    <div class="row">
                        <div class="col">
                            Card Left: {{ votes.cardLeft }}
                            {% if votes.total > 0 %}
                                <div class="graph-bar" style="width: {{ (votes.cardLeft / votes.total) * 100 }}%;">{{ ((votes.cardLeft / votes.total) * 100)|round }}%</div>
                            {% endif %}
                        </div>
                        <div class="col">
                            Card Right: {{ votes.cardRight }}
                            {% if votes.total > 0 %}
                                <div class="graph-bar" style="width: {{ (votes.cardRight / votes.total) * 100 }}%;">{{ ((votes.cardRight / votes.total) * 100)|round }}%</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


    </div>
    <hr>
    <form action="/" method="get">
        <div class="container-fluid action-types">
            <div class="row">
                {% if (fie is defined and fie) or (verifier is defined and verifier) %}
                    <div class="col">
                        <label class="fresh-label" for="fresh">
                            <input type="checkbox" id="fresh" {% if fresh is defined %}checked="checked"{% endif %} name="fresh"/> Fresh
                        </label>
                    </div>
                {% endif %}
                <div class="col">
                    {% if fie is defined %}
                        <label class="difficult-label" for="difficult">
                            <input type="checkbox" id="difficult" {% if difficult is defined %}checked="checked"{% endif %} name="difficult"/> Difficult
                        </label>
                    {% else %}
                        <label class="verified-label" for="verified">
                            <input type="checkbox" id="verified" {% if verified is defined %}checked="checked"{% endif %} name="verified"/> Verfied
                        </label>
                    {% endif %}
                </div>
                <div class="col">
                    <label class="next-action">
                        Next Action
                        <input type="submit">
                    </label>
                </div>
            </div>
        </div>
    </form>

</body>

</html>

